@import url("https://fonts.googleapis.com/css2?family=Georgia:display=swap");

 :root {
    --georgia: "Georgia", serif;
    --darkblue: #1F2937;
    --white: #F9FAF8;
    --light-grey: #8f9194;
    --text-color: #a3b9ea;
    --lightblue: #3882F6;
    --navyblue: #1F2937;

 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--georgia);
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkblue);
    padding: 16px;
}

.logo img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid red;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

ul li {
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}

.home {
    background-color: var(--darkblue);
    display: flex;
    justify-content: space-around;
    padding: 32px;
    color: var(--white);
    margin: 0 10px;
    border-radius: 10px;

}

.intro {
    line-height: 2em;
}

button {
    background-color: var(--lightblue);
    color: var(--white);
    padding: .7em;
    border-radius: 8px;
    border: none;
    cursor:pointer;
}


.info  img{
    width: 100%;
    height: 140px;
    border-radius: 15px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.cards img {
    flex-shrink: 0;
    height: 200px;
    border-radius: 10px;
}

.cards p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.contact {
    background-color: var(--light-grey);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    line-height: 1.7em;
}

.footer {
    background-color: var(--darkblue);
    color: var(--white);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/**Sign up page **/
