@import url("https://fonts.googleapis.com/css2?family=Georgia:display=swap");

 :root {
    --georgia: "Georgia", serif;
    --darkblue: #1F2937;
    --white: #F9FAF8;
    --light-grey: #8f9194;
    --text-color: #a3b9ea;
    --lightblue: #3882F6;
    --navyblue: #1F2937;

 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--georgia);
}


